Variables & Data Types

In [1]:
# Variables of different types
num_int = 10
num_float = 3.14
text = "Hello Python"
my_list = [1, 2, 3, 4, 5]

# Printing values and types
print(num_int, type(num_int))
print(num_float, type(num_float))
print(text, type(text))
print(my_list, type(my_list))

10 <class 'int'>
3.14 <class 'float'>
Hello Python <class 'str'>
[1, 2, 3, 4, 5] <class 'list'>

. Conditionals

In [2]:
# Check if a number is positive, negative or zero
number = int(input("Enter a number: "))

if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 15
Positive

Loops
(a) First 10 natural numbers

In [3]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

(b) Factorial of a number

In [5]:
num = int(input("Enter a number for factorial: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i

print("Factorial of", num, "is", factorial)

Enter a number for factorial: 25
Factorial of 25 is 15511210043330985984000000

Functions

In [7]:
# Function to greet
def greet(name):
    print(f"Hello, {name}!")

# Function to check even/odd
def is_even(num):
    return num % 2 == 0

# Examples
greet("Ghafoor")
print(is_even(4))  # True
print(is_even(7))  # False

Hello, Ghafoor!
True
False

List Operations

In [8]:
numbers = [10, 5, 20, 7, 15]

print("Max:", max(numbers))
print("Min:", min(numbers))
print("Sum:", sum(numbers))
print("Average:", sum(numbers)/len(numbers))

numbers.sort()
print("Sorted:", numbers)

numbers.reverse()
print("Reversed:", numbers)

Max: 20
Min: 5
Sum: 57
Average: 11.4
Sorted: [5, 7, 10, 15, 20]
Reversed: [20, 15, 10, 7, 5]

Input/Output

In [9]:
name = input("Enter your name: ")
age = input("Enter your age: ")

print(f"Hello {name}, you are {age} years old.")

Enter your name: ghafoor
Enter your age: 22
Hello ghafoor, you are 22 years old.